@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Public+Sans:wght@400;600;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
}

// Layout
.wrapper {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding-top: 4em;
  main {
    display: flex;
    width: 100%;
  }
  & .form {
    width: 60%;
  }
  & .form-picture {
    width: 40%;
    padding-left: 2em;
    img {
      width: 70%;
    }
  }
}

.pagination {
  padding: 1em 0;
  height: 1em;
  span {
    display: inline-block;
    height: 0.425em;
    background-color:  #9F9F9F;
    width: 1.55em;
    border-radius: 1.25em;
    margin-right: .425em;
    &.active {
      background: linear-gradient(94.75deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100.7%), #CD8B65;
      width: 2.325em;
    }
  }
}

// Main title
h1 {
  font-family: 'Hind', sans-serif;
  font-size: 2.875em;
  letter-spacing: 0.01em;
  color: #000;
}

// Radio input element for donate type choice - BOOLEAN
.chooseType {
  display: flex;
  margin-bottom: 3em;
  & .optionContainer {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // default checkbox
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    // CSS for option
    .typeLabel {
      padding: 1.425em 1.35em;
      box-sizing: border-box;
      background-color: #FaF9F9;
      border-right: 0.0625em solid #CD8B65;
      border-top-left-radius: 1.5em;
      border-bottom-left-radius: 1.5em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &.right {
        border-right: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1.5em;
        border-bottom-right-radius: 1.5em;
      }
      // Icon
      & .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5em;
        height: 5em;
        background: #b7b7b7;
        background: rgba(47,47,47,.16);
        border-radius: 50%;
      }
      // Type title 
      h2 {
        font-size: 1em;
        font-family: 'Public Sans', sans-serif;
        line-height: 1.325em;
        letter-spacing: 0.01em;
        color: #585757;
        width: 90%;
        margin: 1em 0 0 0;
      }
    }
    // Colors for Checked
    &:hover input ~ .typeLabel,
    & input:checked ~ .typeLabel {
      background: linear-gradient(180deg, #CD8B65 0%, #BB6B3D 100%);
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    }
    &:hover input ~ .typeLabel h2,
    & input:checked ~ .typeLabel h2 {
      color: #FFF;
    }
  }
}

// Select element for dogshelter choice
.meta-info {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  & > * {
    flex-grow: 1;
  }
}

// Subtitle and required information
.subTitle,
.required {
  font-size: 1em;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.185em;
  font-weight: 800;
  color: #2F2F2F;
}

.required {
  text-align: right;
  font-size: .875em;
}

// select
.chooseShelter {
  position: relative;
  & label {
    position: absolute;
    top: 1em;
    left: 1.5em;
    font-family: 'Public Sans', sans-serif;
    font-size: 1em;
    font-weight: 800;
    color: #2F2F2F;
  }
  & select {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    appearance: none;
    padding: 2.085em 1.5em 1em 1.5em;
    margin-bottom: 1.875em;
    width: 100%;
    color: #9F9F9F;
    border: 0.185em solid #DFDFDF;
    border-radius: .5em;
    background-color: #FFF;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%239F9F9F%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%239F9F9F%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");    background-repeat: no-repeat;
    background-size: .725em;
    background-position: 98% center;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  & select:focus, 
  & select:focus option {
    outline: none;
  }
}

// Select donation amount / set custom amount
.chooseAmount {
  position: relative;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  padding-bottom: 2em;
  label {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
    & input[type='radio'] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .radioBtn,
    input[type="text"] {
      font-family: 'Public Sans', sans-serif;
      font-size: 1em;
      font-weight: 800;
    }

    .radioBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 3.75em;
      min-height: 3.75em;
      border: 0.185em solid #DFDFDF;
      border-radius: .5em;
    }

    &:hover input ~ .radioBtn,
    & input[type='radio']:checked ~ .radioBtn,
    & input[type='radio']:checked ~ .radioBtn input[type="text"] {
      background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
      color: #FFF;
      border-color: transparent;
    }

    & input[type="text"] {
      padding: .2em 0 .185em 0;
      margin: 0 .3em;
      text-align: center;
      border: 0;
      border-bottom: .08em solid #C9C9C9;
      background-color: #fff;
      background-color: transparent;
      width: 2.5em;
      &:focus {
        outline: none;
      }
    }

    & input[type='radio']:checked ~ .radioBtn input[type="text"] {
      border-bottom: 0.08em solid #C9C9C9;
    }
  }
}

// Submit button - next / prev  step
.button-group {
  margin-top: 4em;
  width: 100%;
  .back-btn, button {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125em;
    font-weight: 800;
    padding: 1.25em 1.5em;
    border-radius: 6.125em;
    border: none;
    cursor: pointer;
  }

  .back-btn {
    display: inline-block;
    text-decoration: none;
    background: #F3E2D9;
    color: #2F2F2F; 
    &:hover {
      background: darken(#F3E2D9, 3%);
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    }
  }

  button {
    float: right;
    background: linear-gradient(115.41deg, #CD8A64 -1.77%, #C4794F 73.03%);
    color: #FFF; 
    &:hover {
      background:linear-gradient(115.41deg, #CD8A64 -10.77%, #C4794F 23.03%);
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    }
  }
}

.meta-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  label {
    position: relative;
  }

  & input[type="text"] {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    appearance: none;
    padding: 2.085em 1.5em 1em 1.5em;
    margin-top: .5em;
    margin-bottom: 1.875em;
    width: 100%;
    color: #000;
    border: .185em solid #DFDFDF;
    border-radius: .5em;
    background-color: #FFF;
    &::placeholder {
      color: #9F9F9F;
    }
  }

  & input[type="text"]:focus  {
    outline: none;
    border: .185em solid #CD8B65;
  }

  span.title {
    position: absolute;
    top: 1.375em;
    left: 1.5em;
    font-family: 'Public Sans', sans-serif;
    font-size: 1em;
    font-weight: 800;
    color: #2F2F2F;
  }
}

.summary {
  margin-bottom: 4em;
  h2.subTitle {
    font-size: 0.875em;
  }
  p {
    font-size: 1em;
    margin: 0;
    margin-bottom: 1em;
  }

  label {
    display: flex;
    align-items: center;
    margin-top: 3em;
    padding-bottom: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      height: 2.185em;
      width: 2.185em;
      background-color: #FFF;
      border: .158em solid #F3E2D9;
      border-radius: .5em;
    }

    &:hover ~ .checkmark {
      background-color: red;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    & input:checked ~ .checkmark:after {
      display: block;
    }

    & .checkmark:after {
      left: 1em;
      top: .45em;
      width: .65em;
      height: 1.3em;
      border: solid #AB7455;
      box-sizing: border-box;
      border-width: 0 .22em .22em 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .agreementText {
      font-family: 'Public Sans', sans-serif;
      margin-left: .75em;
      color: #2F2F2F;
    }
  }
}

footer {
  display: flex;
  width: 100%;
  margin: 8em 0 4em 0;
  border-top: .185em solid #DBDBDB;
  padding: 8em 1em 3em 0;

  .logo,
  nav,
  .about-us,
  .useful-info {
    min-height: 18em;
    width: 25%;
    h2 {
      font-size: 1em;
      font-family: 'Public Sans', sans-serif;
      font-weight: 900;
      color: #2F2F2F;
    }
  }

  .logo img {
    width: 70%;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
    }

    ul li {
      font-size: 1em;
      font-family: 'Public Sans', sans-serif;
      padding: .725em 0;
      color: #585757;
    }
  }

  .about-us,
  .useful-info {
    font-family: 'Public Sans', sans-serif;
    font-size: 1em;
    padding-right: .875em;
    color: #585757;
  }

}

/* Change autocomplete styles in WebKit */
form {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.err-message {
  font-size: 0.825em!important;
  position: absolute!important;
  bottom: .725em!important;
  left: .5em!important;
  color: red!important;
  &.check {
    bottom: 1.785em!important;
    left: 4.5em!important;
  }
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  background: #9F9F9F;
  cursor: default;
}